.homeScreen {
    padding: 25px;
}

.listOfTopRes {
    @include sliderContainer(400px, calc(100vw - 50px));

    &__slides {
        @include slidesX;
        @include scrollBars;

        &__box {
            @include eachSlide;
            height: 300px;
            width: 300px;
            margin-left: 10px;
            overflow: hidden;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.1);
            position: relative;

            img {
                height: inherit;
                width: inherit;
                mix-blend-mode: color;
            }

            &__content {
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                width: inherit;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 10px;
                color: #fff;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 75%);

                h3 {
                    font-size: 2em;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 1.2em;
                }
            }
        }
    }
}