.hotel {

    &__imgContainer {
        height: 250px;
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-size: 6rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
        padding: 0 2.1rem;
    }

    &__location {
        font-size: 2rem;
        font-weight: 600;
        // margin-bottom: 1.5rem;
        padding: 0 2.1rem;
        margin-top: -15px;
        margin-left: 5px;
    }

    &__description {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding: 0 2.1rem;
    }

    &__rating {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding: 0 2.1rem;

        .star-rating__star {
            font-size: 7rem;
        }
    }

    &__comments {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding: 0 2.1rem;
    }

    &__details {
        position: sticky;
        top: 0;
        background-color: #fff;
    }

}