.login{
    background-color: #f5f5f5;
    min-height: 100vh;
    // min-width: 100vw;

    @include flexCenter;

    &__container{
        display: flex;
        height: 580px;
        width: 1140px;
        border-radius: 27.5px;
        overflow: hidden;
        box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
        background-color: #fff;
        border: 0;
    }

    &__image-container{
        display: flex;
    }

    &__text-container{
        padding: 45px 60px 60px;
        width: 100%;

        &__brand-wrapper{
            margin-bottom: 19px; 
            img {
                height: 60px;
            }
        }

        &__title{
            font-size: 25px;
            color: #000;
            font-weight: normal;
            // margin-bottom: 23px;
            margin-bottom: 15px;
        }

        &__form{
            margin-bottom: 30px;
            width: 100%;
            
            &__input{
                display: flex;
                flex-direction: column;
                font-size: 1.5em;

                input{
                    width: 75%;
                    padding: 10px;
                    margin: 5px 0;
                    outline: none;
                    border: 1px solid black;
                    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
                    border-radius: 5px;
                    font-family: inherit;
                    font-size: 0.9em;
                }

                button{
                    width: 75%;
                    padding: 10px;
                    margin: 5px 0;
                    outline: none;
                    border: 1px solid black;
                    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
                    border-radius: 5px;
                    font-family: inherit;
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                    margin: 25px 0 25px 0;
                    // margin: 30px 0 30px 0;
                }

                &--error--active{
                    border: 1px solid red !important;
                }

            }
            &__signIn{
                &--b{
                    width: 75%;
                    @include flexCenter; 

                    p {
                        font-size: 1.2em;
                        
                    }
                    a {
                        color: #192bc2;
                        cursor: pointer;
                        text-decoration: none;
                        transition: all 0.3s;
    
                        &:hover{
                            text-decoration: underline;
                        }
                   }
                }
            }

        }
       
    }
}