.navbar{
    background-color: #fff;
    padding: 0 25px;
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 60px;
    @include flexSpaceBetween;

    &__logo{
        height: 30px;
        img{
            height: inherit;
        }
    }
    &__menu{
        display: flex;
        @include flexSpaceBetween;
        
        &__searchBar{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20em;
            height: 30px;
            border-radius: 5px;
            background-color: #f2f2f2;
            margin-right: 10px;
            padding: 5px;

            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                padding: 0 10px;
                font-size: 1em;
            }
        }

        &__icons{
            display: flex;

            &__button{
                background-color: #ffd480;
                border: none;
                outline: none;
                cursor: pointer;
                margin-left: 10px;
                height: 35px;
                width: 80px;
                font-weight: 600;
                font-size: 1.1em;
                border-radius: 5px;
                @include flexCenter;
            }

            &__user{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                // background-color: #000;
                margin-left: 10px;
                @include flexCenter;
                color: #fff;
                font-weight: 600;
                font-size: 1.1em;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                img{
                    height: 100%; 
                    width: 100%;
                    border-radius: 50%;
                }
            }

        }
    }


}