.star-rating {
    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    &__on {
        color: $dark-yellow;
    }

    &__off {
        color: #ccc;
    }

    &__star {
        font-size: 2em;
    }
}